/* fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;700&family=Mali:wght@200;400;500;600&family=Montserrat:wght@100;300;400;600&display=swap');

/* set up for the entire page */
* 
{ box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;}
    
/* header section on the base.html */
body {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: rgb(151, 150, 150);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.pink_bar {
    display: flex;
    color: rgb(230, 73, 128);
    background-color: rgb(230, 73, 128);
    font-size: 3px;}

#logo {
    cursor: pointer;
    padding: 10px 15px 5px 25px;}

.nav_bar {
    font-size: 13px;
    list-style: none;
    padding: 15px 30px 10px 10px;
    font-weight: 100;}

.nav_bar a {
    text-decoration: none;
    font-weight: 200;
    color: white;}

.nav_bar li a:hover {
    color: rgb(230, 73, 128);
    }

/* ****************** footer section fixed to the bottom of the window ******************  */
/* CURREntly causing probelms on the tabels pages - might remove???? */
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: rgb(151, 150, 150);
        font-size: 13px;
        text-align: center;
        padding: 10px;
    }





/* ******************* MAIN INDEX PAGE LAYOUT ******************* */

/* the entire top section including logo and all text */
.index_page_top {
    /* border: red solid 5px; */
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    border: red 10px solid;
}

/* a tag to transactions index.html  - see hover transition below */
.index_page_top a {
    font-family: Kanit;
    font-weight: 400;
    font-size: 25px;
    color: rgb(230, 73, 128);
    text-decoration: none;
}
.index_page_top a:hover {
    color: rgb(151, 150, 150)
}


/* container for the top section of text and watermark - excluding the A tag to transactions page */
.main_total_amount {
    /* border: orange solid 5px; */
    position: relative;
    display: flex;
    font-size: 100px;
    color: black;
    flex-direction: column;
    z-index: -50;
}


/* container for the top section of text  */
.main_total_amount p {
    font-family: Kanit;
    font-weight: 400;
    font-size: 25px;
    z-index: 100;
}

/* container of snout watermark and TOTAL SPEND this month text */
.snout_and_total_container h1 {
    /* border: green solid 5px; */
    position: absolute;
    font-size: 50px;
    top: 15%;
    left: -15px;
}
.snout_and_total_container {
    /* border: pink solid 5px; */
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto;
    text-align: center;
}


/* snout watermark on main index page */
/* the class is empty on the HTML page, URL is listed here */
.snout_logo_watermark {
    /* border: yellowgreen solid 5px; */
    background-image: url("./images/piggy_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
}


/* 3 piggies image at the bottom of the index page. to be left at the bottom, centralised */
.piggie_image {
    display: flex;
    align-items: center; 
    flex-direction: column; 
    justify-content: flex-end;
    padding-top: 60px;
    height: 80%;
}




/* ***************** RETAILER INDEX CSS ********************* */

.new_container {
    margin: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}



/* Style the input fields */
.column input[type=text] {
    border: 1px black solid;
    padding: 15px;
    width: 220px;
    padding: 5px 0px 5px 5px;
  } 


.button {
    cursor: pointer;
    margin: 0px 20px 0 0px;
    width: 60px;
}

.new_container h3 {
    font-weight: 400;
    font-size: 20px;
    color: rgb(230, 73, 128);
}

.new_container h4 {
    font-weight: 200;
    font-size: 20px;
}

.new_container h5 {
    font-weight: 200;
    font-size: 17px;
}

.new_container p {
    font-weight: 200;
    font-size: 13px;
    color: black;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center; 
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 0px 3px;
    border: 1px rgb(151, 150, 150) solid;
    font-size: 8px;
}

button a {
    display: flex;
    justify-content: center; 
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 0px 3px;
    border: 1px rgb(151, 150, 150) solid;
    font-size: 8px;
}

.return_link {
    background-color: rgb(230, 73, 128);
    padding: 8px;
    margin: 40px 0px;
    border: 100px;
    width: 250px
}

.return_link a {
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

select {
    display: flex;
    justify-content: center; 
    margin-top: 6px;
    padding: 0px 5px;
    border: 1px rgb(151, 150, 150) solid;
    font-size:14px;
}


.need_to_add  {
    display: flex;
    /* padding: 0px 3px; */
    border: 1px rgb(84, 84, 84) solid;
    padding: 15px;
    width: 180px;
    padding: 5px 0px 5px 5px;
    margin: 10px 0px;
}

.need_to_add a {
    display: flex;
    padding: 0px 3px;
    text-decoration: none;
}

.need_to_add a p {
    display: flex;
    font-size: 13px;
    font-family: Kanit;
    font-weight: 400;
    color: rgb(230, 73, 128);
}

.right_column p {
    font-size: 15px;
}

.right_column h2 {
    font-size: 27px;
    color: rgb(230, 73, 128);
}

.right_column_buttons {
    display: flex;
    text-align: center;
    padding: 0px 0px 10px 0px;
}

  .inner_details {
    border-top: 1px rgb(183, 181, 181) solid;
    display: flex;
    flex-flow: wrap; 
    align-items: center; 
    text-align: right;
    padding: 0px 30px 0px 0px;
    justify-content: space-between;
  }


.transaction_wrapper h6{
    color: black;
    font-weight: 200;
    font-size: 12px;
    margin-top: 25px;
}
.transaction_wrapper h2{
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.transaction_wrapper h3{
    color: black;
    font-weight: 400;
    font-size: 18px;
    /* border: red 1px solid; */
}
.transaction_wrapper h5{
    color: rgb(230, 73, 128);
    font-weight: 400;
    font-size: 16px;
}