{% extends "base.html" %}
{% block content %}

<h2>Update a Zombie</h2>

<form action="/zombies/{{ zombie.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ zombie.name }}">
    </div>
    <div>
        <label for="zombie-type">Zombie Type:</label>
        <select name="zombie_type_id" id="zombie-type">
            {% for zombie_type in zombie_types %}
            <option value="{{ zombie_type.id }}" {% if zombie_type.id == zombie.zombie_type.id %} selected {% endif %}>
                {{ zombie_type.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}
