{% extends 'base.html' %}

{% block content %}


<div class="list_of_all"> 

<form class="form" action="/transactions/{{transaction.id}}" method="post">

    <h4>Edit transaction details:</h4>
  
      <label for="retailer">Retailer name:</label>
      <br>
      <select id="retailer" name="retailer_id">
        {% for retailer in all_retailers %}
          <option value="{{ transaction.retailer.name }}">{{ transaction.retailer.name }}</option>
        {% endfor %}
      </select>

<br>
      <label for="retailer">Label name:</label>
      <br>
      <select id="label" name="label_id">
        {% for label in all_labels %}
          <option value="{{ transaction.label.name }}">{{ transaction.label.name }}</option>
        {% endfor %}
      </select>

<br>
      <label for="value">Value amount: £</label>
      <br>
      <div>
          <label for="value"></label>
          <input type="number" min="1" step="0.01" name="value" value="value" placeholder="£" id="value" required >
          </div>     
    


    <input type="submit" value="Update">
  </form> 

  

{% endblock %}


    
