{% extends "base.html" %}
{% block content %}

<div class="new_container">
  <div class="row">
      <div class="column">
          <div class="left_column">
            <form class="form" action="/transactions" method="post">
            
                <h3>Add new transaction:</h3>
                <h5>Date:</h5>
                <label for="date"></label>
                <input type="date" name="date" id="date" required>
                
                <br>
                <br>
                <h5>Retailer name:</h5>
                <label for="retailer"> </label>
                <select id="retailer" name="retailer_id">
                  {% for retailer in retailers_active %}
                    <option value="{{ retailer.id }}">{{ retailer.name }}</option>
                  {% endfor %}
                </select>
              <div class="need_to_add"><a href="/retailers"><p>Need to add a new retailer?</p></a> </div>
              

              <label for="label"> <h5>Label name:</h5></label>
              <select id="label" name="label_id">
                {% for label in labels_active %}
                  <option value="{{ label.id }}">{{ label.name }}</option>
                {% endfor %}
              </select>
              <div class="need_to_add"><a href="/labels"><p>Need to add a new label?</p></a> </div>

              <label for="value"><h5>Value amount: £</h5></label>
              <div class="need_to_add">
                <label for="value"></label>
                <input type="number" min="1" step="0.01" name="value" value="value" placeholder="Enter value here £" id="value" required>
              </div>
                <button class="button"><input type="submit" value="Save"></button>

              </form> 
                <!-- ***************** FILTER code ********* -->
<br>
<br>

<h3 class="return_link"><a href="/transactions/filter">Filter transactions</a></h3>

</div>  
<!-- end of the left_column class -->
</div>  
<!-- end of the column class -->



<div class="column"> 
  <div class="right_column"> 
    <h2>Total spend so far: £{{total}}</h2>
    <h4>List of transactions:</h4>
        <section class="transaction_wrapper">
          
          {% for transaction in all_transactions %}
          <h6>{{ transaction.date.strftime("%d %b %Y") }}</h6>
          
          <section class="inner_details">
            <h2>{{ transaction.retailer.name }}</h2>
              <h3>{{ transaction.label.name }}</h3>
              <h5>£{{ transaction.value }}</h5>    
              
              <form action="/transactions/{{transaction.id}}/delete" method="POST">
                <button class="button"><input type="submit" value="Delete">
                </form></button>
              </section>
                
                {% endfor %}
            
          </section>
  </div>
  <!-- end of right_column div -->
</div>
<!-- end of column class div -->

</div>
<!-- end of row class div -->

</div>
<!-- end of new_container class -->

  

{% endblock %}
