<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Zombie App</title>
</head>
<body>
    <header>
        <h1>Zombie App</h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li>
                    Zombies
                    <ul>
                        <li><a href="/zombies">All</a></li>
                        <li><a href="/zombies/new">Add</a></li>
                    </ul>
                </li>
                <li>
                    Zombie Types
                    <ul>
                        <li><a href="/zombietypes">All</a></li>
                        <li><a href="/zombietypes/new">Add</a></li>
                    </ul>
                </li>
                <li>
                    Humans
                    <ul>
                        <li><a href="/humans">All</a></li>
                        <li><a href="/humans/new">Add</a></li>
                    </ul>
                </li>
                <li>
                    Bitings
                    <ul>
                        <li><a href="/bitings">All</a></li>
                        <li><a href="/bitings/new">Add</a></li>
                    </ul>
                </li>
                
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>