{% extends "base.html" %}
{% block content %}

<h2>Add a New Biting</h2>

<form action="/bitings" method="POST">
    <div>
        <label for="human">Human:</label>
        <select name="human_id" id="human">
            {% for human in humans %}
            <option value="{{ human.id }}">
                {{ human.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="zombie">Zombie:</label>
        <select name="zombie_id" id="zombie">
            {% for zombie in zombies %}
            <option value="{{ zombie.id }}">
                {{ zombie.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}