<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Piggy Spending Tracker</title>
</head>

<body>

  <!-- nav bar contents -->
  <header> 
    <a id="logo" href="/"><img src="/static/images/nav_bar_logo.png" alt="piggy logo" width="80"></a>
    
    <nav>
      <ul class="nav_bar">
        <li><a href="/retailers">Retailers</a></li>
        <li><a href="/labels">Labels</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/log_off">Log Off</a></li>
      </ul>
    </nav>
  </header>

  <p class="pink_bar">pink bar</p>
  
    {% block content %}
    {% endblock %}

  <div class="footer">
    <p>&copy; Piggy 2022</p>
  </div>

</body>
</html>
