{% extends "base.html" %}
{% block content %}

<div class="new_container">
    <div class="row">
        <div class="column">
            <div class="left_column">
                <h3>Add new retailer:</h3>
                <form class="form" action="/retailers" method="post">
                    <label for="name"></label>
                    <input type="text" name="name" placeholder="Enter retailer name here" id="name" autofocus>
                    
                    <button class="button"><input type="submit" value="Save"></button>
                </form> 
                
               
                <h3 class="return_link"><a href="/transactions">Return to new transaction</a></h3>
            </div>  
            <!-- end of the left_column class -->
         </div>  
        <!-- end of the column class -->
            
            <!-- *******************bottom half of html page*************************** -->
        <div class="column"> 
            <div class="right_column"> 
                <h3>Edit Retailer Details:</h3>
                <h4>Active Retailers</h4>
                {% for retailer in retailers_active %}
                <p>{{retailer.name}} </p>
                    <section class="right_column_buttons"> 
                    <form action="/retailers/{{retailer.id}}/edit" method="GET">
                        <button class="button" ><input type="submit" value="Edit"> </form></button>
                    <form action="/retailers/{{retailer.id}}/delete" method="post">
                        <button class="button"><input type="submit" value="Delete"> </form></button>
                    </section>
                    {% endfor %}

                    <h3>--------------------</h3>
                <h4>Inactive Retailers </h4>
                {% for retailer in retailers_inactive %}
                <p>{{retailer.name}}</p>
                <section class="right_column_buttons"> 
                <form action="/retailers/{{retailer.id}}/edit" method="GET">
                    <button class="button"><input type="submit" value="Edit"></form></button>
                
                <form action="/retailers/{{retailer.id}}/delete" method="post">
                    <button class="button"><input type="submit" value="Delete"> </form></button>
                </section>
                {% endfor %}
            </div>            
            <!-- end of the right_column class -->
        </div>  
        <!-- end of the 2nd column class -->

    </div>  
    <!-- end of the row class -->
</div>
<!-- end of new container class -->

{% endblock %}
