<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{{ title }} - Orders</title>
</head>

<body>
    <nav>
        <ul>
            <li clas="navLink"><a href="/orders">Home</a></li>
        </ul>
    </nav>
    <hr>
    <h1>{{order.name}}'s Pizza</h1>

    <div class="order-container">

        <div class="order">
            <h2>{{ order.name }}</h2>
            <h3>{{ order.topping }}</h3>
            <h4>When: {{ order.date.strftime("%b %d %Y") }}</h4>
            <h5>Quantity: {{ order.quantity }}</h5>
        </div>
    </div>
</body>

</html>